body{
    font-family: Arial,sans-serif;
    background-color: white;
    text-align: center;
    padding: 20vh;
    display: flex;
    justify-content: center;
    margin: 10px;
}

h1{
    color: black;
}

input{
    padding: 10px;
    color: blue;
    margin : 10px 0;
    font-size: 15px;
}
button{
    cursor: pointer;
    padding: 10px 15px;
    margin: 5px;
    font-size: 15px;
    color: black;
}
#feedback{
    font-weight: bold;
    margin-top: 15px;
}
#attempts{
    color: black;
}